<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="AccountName" value="portalvhdsmd337rk46w2xn"/>
    <add key="AccountKey" value="48y8rG5s1nVI7HhYxiumg/hfNIvyHyn7uQ9QzZgVu8D142kperkPeYhXUC694WPVgrdBWNi1o0fbyYMt1PZacg=="/>
  </appSettings>
</configuration>