<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HaystackLibrary.Properties.Settings.haystackConnectionString"
      connectionString="Data Source=yugswaeatg.database.windows.net,1433;Initial Catalog=haystack;Persist Security Info=True;User ID=invictus;Password=BTgsgEDB-nRjJHKi3gtAs1iFSPtHKnIzZUUOAF0cszRtrLeU_zjv4Iu6YBp9-brc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AccountName" value="portalvhdsmd337rk46w2xn"/>
    <add key="AccountKey" value="48y8rG5s1nVI7HhYxiumg/hfNIvyHyn7uQ9QzZgVu8D142kperkPeYhXUC694WPVgrdBWNi1o0fbyYMt1PZacg=="/>
    <add key="CollectionsQueue" value="collectionsqueue"/>
    <add key="ProcessingQueue" value="processingqueue"/>
    <add key="FailuresQueue" value="failuresqueue"/>
    <add key="BlobContainer" value="blobcontainer"/>
   
  </appSettings>
</configuration>