<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Haystack.Properties.Settings.haystackConnectionString"
      connectionString="Data Source=yugswaeatg.database.windows.net,1433;Initial Catalog=haystack;Persist Security Info=True;User ID=invictus;Password=BTgsgEDB-nRjJHKi3gtAs1iFSPtHKnIzZUUOAF0cszRtrLeU_zjv4Iu6YBp9-brc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
  <appSettings>
  </appSettings>
</configuration>