@{
  ViewBag.Title = "Account lockout";
}

<hgroup>
  <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="alert alert-error">There have been too many failed login attempts against this account, please come back in a little while.</p>
